 
<div class="container">
  <h2 class="text-center title">
    <div class="row">
      <div class="col-md-5">
            <form action="/upload-file" enctype="multipart/form-data" method="POST">
                <h4 >Single Image:</h4>
                <input type="file"  id="singleImage" name="singleImage" required>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
      </div>
  </div>
  <br/> <br/>
</div>
 